@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="~/Images/bikes.jpg" style="max-width: 100%; margin: auto; " />
</div>
<div class="jumbotron">
    <h2>Welcome to the Bike Store !</h2>
</div>



